.venv/
__pycache__/
sim/check_so101.png
sim/check_grasp.png
data/*
!data/examples/
!data/HumanGen/
data/HumanGen/**
!data/HumanGen/human_data/
!data/HumanGen/human_latents/
data/HumanGen/human_data/**
data/HumanGen/human_latents/**
!data/HumanGen/human_data/robotwin/
!data/HumanGen/human_latents/robotwin/
data/HumanGen/human_data/robotwin/**
data/HumanGen/human_latents/robotwin/**
!data/HumanGen/human_data/robotwin/run_robotwin_20260728_013720_robotwin_n1000/
!data/HumanGen/human_latents/robotwin/run_robotwin_20260728_013720_robotwin_n1000/
data/HumanGen/human_data/robotwin/run_robotwin_20260728_013720_robotwin_n1000/**
data/HumanGen/human_latents/robotwin/run_robotwin_20260728_013720_robotwin_n1000/**
!data/HumanGen/human_data/robotwin/run_robotwin_20260728_013720_robotwin_n1000/samples/
!data/HumanGen/human_latents/robotwin/run_robotwin_20260728_013720_robotwin_n1000/samples/
data/HumanGen/human_data/robotwin/run_robotwin_20260728_013720_robotwin_n1000/samples/**
data/HumanGen/human_latents/robotwin/run_robotwin_20260728_013720_robotwin_n1000/samples/**
!data/HumanGen/human_data/robotwin/run_robotwin_20260728_013720_robotwin_n1000/samples/273_robotwin_Use_an_arm_to_place_the_empty_cup_on_the_coaster/
!data/HumanGen/human_latents/robotwin/run_robotwin_20260728_013720_robotwin_n1000/samples/273_robotwin_Use_an_arm_to_place_the_empty_cup_on_the_coaster/
data/HumanGen/**/273_robotwin_Use_an_arm_to_place_the_empty_cup_on_the_coaster/**
!data/HumanGen/human_data/robotwin/run_robotwin_20260728_013720_robotwin_n1000/samples/273_robotwin_Use_an_arm_to_place_the_empty_cup_on_the_coaster/generated_video_kling-v3.mp4
!data/HumanGen/human_latents/robotwin/run_robotwin_20260728_013720_robotwin_n1000/samples/273_robotwin_Use_an_arm_to_place_the_empty_cup_on_the_coaster/generated_video_kling-v3.pth
.DS_Store
.env
outputs/*
!outputs/zero_wam/
outputs/zero_wam/*
!outputs/zero_wam/text/
!outputs/zero_wam/latent/
!outputs/zero_wam/latent_run2/
!outputs/zero_wam/video/
!outputs/zero_wam/video_run2/
outputs/zero_wam/text/*
outputs/zero_wam/latent/*
outputs/zero_wam/latent_run2/*
outputs/zero_wam/video/*
outputs/zero_wam/video_run2/*
!outputs/zero_wam/text/stseed-100000/
!outputs/zero_wam/latent/stseed-100000/
!outputs/zero_wam/latent_run2/stseed-100000/
!outputs/zero_wam/video/stseed-100000/
!outputs/zero_wam/video_run2/stseed-100000/
!outputs/zero_wam/*/run.log
!outputs/zero_wam/so101/
outputs/zero_wam/so101/**
!outputs/zero_wam/so101/**/
!outputs/zero_wam/so101/**/*.mp4
*.ts
